<div class="page-header">
  <h1>About</h1>
</div>

<p class="lead">Happy 35th birthday, Hana!</p>
<p class="text-center">
  Blah Blah<br>
  Blah Blah<br>
  Blah Blah<br>
</p>
<p class="text-right">
  May 11th, 2016<br>
  with so much love Joon
</p>
