<div class="page-header">
  <%= link_to brand_brand_links_path(brand_id: brand.id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Editing brand_link</h1>
</div>

<%= render 'form' %>
